
html {
	font-size: $htmlFontSize;
}

section {
	height: 100vh;
}

.wrapper {
	max-width: $wrapperMaxWidth;
	width: 100%;
	margin: 0 auto;
}

h1 {
	font-size: $mainHeadingFontSize;
	font-family: $headingFontFamily;
}

h2 {
	font-size: $subHeadingFontSize;
	font-family: $headingFontFamily;
	color: $darkBrandColor;
}

h3 {
	font-size: $subSubHeadingFontSize;
	font-family: $headingFontFamily;
}

p {
	font-size: $paragraphFontSize;
	font-family: $paragraphFontFamily;
}

img {
	max-width: 100%;
}

.btn--pageAction {
	background: $darkBrandColor;
	color: $lightBrandColor;
}

.sweet-alert {
	background: $lightBrandColor;
}

.sweet-alert .sa-icon.sa-error {
	border-color: $darkBrandColor;
}
