
html {
	font-size: $htmlFontSize;
}

.wrapper {
	max-width: $wrapperMaxWidth;
	width: 100%;
	margin: 0 auto;
}

h1 {
	font-size: $mainHeadingFontSize;
	font-family: $headingFontFamily;
	color: $darkBrandColor;
	margin: 0;
}

h2 {
	font-size: $subHeadingFontSize;
	font-family: $headingFontFamily;
	color: $darkBrandColor;
}

h3 {
	font-size: $subSubHeadingFontSize;
	font-family: $headingFontFamily;
}

p {
	font-size: $paragraphFontSize;
	font-family: $paragraphFontFamily;
}

.btn--pageAction {
	background: $darkBrandColor;
	color: $lightBrandColor;
	border: none;
}