
html {
	font-size: $htmlFontSize;
	background: $lightBrandColor;
}

section {
	min-height: 100vh;
}

.wrapper {
	max-width: $wrapperMaxWidth;
	width: 100%;
	margin: 0 auto;
}

h1 {
	font-size: $mainHeadingFontSize;
	font-family: $headingFontFamily;
	color: 	rgba(31, 109, 105, 0.7);
	margin: 0;
	font-style: italic;
}

h2 {
	font-size: $subHeadingFontSize;
	font-family: $headingFontFamily;
	color: $darkBrandColor;
	font-style: italic;
}

h3 {
	font-size: $subSubHeadingFontSize;
	font-family: $headingFontFamily;
	color: $darkBrandColor;
}

p {
	font-size: $paragraphFontSize;
	font-family: $paragraphFontFamily;
}

img {
	max-width: 100%;
}

.btn--pageAction {
	background: $darkBrandColor;
	color: $lightBrandColor;
	border: none;
	padding: 7px 15px;
	font-size: 15px;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .35);
	&:hover {
		background: $lightBrandColor;
		color: $darkBrandColor;
	}
}

// TODO: check if needs to be removed
.landing, 
.music, 
.results {
	min-height: 100vh;
}

.btn--pageAction:focus {
	outline: none;
}

.sweet-alert {
	background: $lightBrandColor;
}

.sweet-alert .sa-icon.sa-error {
	border-color: $darkBrandColor;
}
