@import 'variables';
@import 'mixins';

.landing {
	min-height: 100vh;
	// background: linear-gradient( rgba(248, 243, 178,0.4), 100%, rgba(201, 189, 185,0)), url(../assets/hero.jpeg);
	background: url(../assets/hero.jpeg);
	background-size: cover;
	text-align: center;
	@include respond-to ('small') {
		padding-bottom: 1rem;
	}
}

 .landing__title {
	padding: 10rem 0 3rem 0;
	letter-spacing: 2px;
	text-shadow: 4px 8px 0 rgba(248, 243, 178,0.7);
	text-transform: lowercase;
	@include respond-to ('medium') {
		padding: 3.0rem 0 3rem 0;
		font-size: 7.5rem;
	}
}

.hiddenlanding__locationLabel {
	visibility: hidden;
}

.landing__description {
	width: 45%;
	margin: 0 auto;
	padding: 3rem 1.5rem;
	line-height: 2.5rem;
	letter-spacing: 1px;
	background: rgba(248, 243, 178,0.7);
	box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		border: 2px solid $medBrandColor;
		top: 1.0rem;
		right: 1.0rem;
	}
	@include respond-to ('medium') {
		width: 70%;
	}
}

.landing__locationTitle {
	@include respond-to ('medium') {
		padding-top: 5rem;
		@include respond-to('small') {
			padding-top: 1.5rem;		}
	}
}

.landing__locationInputContainer {
	font-size: 0;
}

#pac-input {
	margin: 0;
	@include respond-to ('small') {
		width: 90%
	}
}

.landing__locationInput {
	border: none;
	height: 4rem;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
	display: inline-block;
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
	&:focus {
		outline: none;
	}
	@include respond-to ('small') {
		border-radius: 0.3rem;
	}
}


.landing__locationFormSubmitBtn {
	width: 5rem;
	height: 4rem;
	display: inline-block;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
	vertical-align: bottom;
	border-bottom-right-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	border: none;
	background: $darkBrandColor;
	&:hover {
		background: $lightBrandColor;
	}
	@include respond-to ('small') {
		margin: 1rem auto 1rem auto;
		border-radius: 0.3rem;
		display: block;
		width: 20rem;
	}
}

.landing__locationFormSubmitBtnText {
	display: none;
	color: $lightBrandColor;
	@include respond-to ('small') {
		display: block;
		margin: 0;
		&:hover {
			color: $darkBrandColor;
		}
	}
}

.landing__locationFormSubmitBtnIcon {
	width: 90%;
	@include respond-to ('small') {
		display: none;
	}
}








