
.music__container {
	width: 90%;
	margin: 0 auto;
	// background: rgba(250, 250, 250, 0.5);
	padding: 20px 0px;
	@include respond-to('small') {
		width: 95%;
	}
}

.music h2 {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	padding-bottom: 20px;
	@include respond-to('small') {
		width: 100%;
	}
}

.music__genreBtnContainer {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	@include respond-to('small') {
		width: 100%;
	}
}

.music__genreForm {
	text-align: center;
	background: rgba(248, 243, 178,0.7);
	border: 2px solid $darkBrandColor;
	padding: 20px 5px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, .35);
}

.music__genreBtn {
	width: 25%;
	max-width: 145px;
	margin: 0 10px;
	margin-bottom: 10px;
	background: $darkBrandColor;
	border: 2px solid $darkBrandColor;
	color: black;
	color: white;
	letter-spacing: 1px;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
	&:hover {
		background: white;
		color: $darkBrandColor;
	}
	@include respond-to('medium') {
		width: 30%;
	}
	@include respond-to('music__buttonBreak') {
		width: 40%;
	}
}

.music__genreBtn:focus {
	background: none;
	color: black;
}

.music__genreBtn img {
	width: 45%;
	opacity: 0.8;
}

.hide {
	@include respond-to('medium') {
		display: none;
	}
}

.music__GenreOtherSelect {
	background: $darkBrandColor;
	border: 2px solid $darkBrandColor;
	color: white;
	margin-top: 10px;
	font-size: 15px;
	padding: 5px;
	width: 200px;
	// width: 80%;
	height: 40px;
	@include respond-to('music__buttonBreak') {
		width: 80%;
		height: 50px;
	}

	@include respond-to('medium') {
		width: 60%;
	}

	@include respond-to('small') {
		width: 80%;
	}
}

.music__GenreOtherSelect:focus {
	background: white;
	color: $darkBrandColor;
}

.music__musicFormSubmitBtn {
	margin: auto;
	display: block;
	margin-top: 20px;
	padding: 15px 15px;
}