// Vertically aligning contents by setting parent
// to table, child to table-cell, vertical-align center
// solution by: https://stackoverflow.com/questions/2939914/vertically-align-text-in-a-div 
.results {
    position: relative;
    display: table;


    width: 100%;

    
}

.results__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    z-index: $zBack; 

    background: linear-gradient(180deg, rgba(31, 109, 105, 1) 0%, rgba(31, 109, 105, 0.8) 100%), url(../assets/swirl_pattern_background.jpg);

    background-size: 150%;
    background-position: center;
    
}

.results__loadScreenContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    z-index: $zFront;

    background: rgba(248, 243, 178,0.9);
	box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);

}

.results__mainContentContainer {
    position: relative;
    display: table-cell;
    vertical-align: center;

    padding: 50px 10px;

    @include respond-to(medium) {
       padding: 25px 10px;
    }
}

.results h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.results__loadScreen p {
    line-height: 4.5rem;
    letter-spacing: 1px;

    text-align: center;
    
    font-size: $subHeadingFontSize;
}

.results__loadIndicator img {
    display: block;
    margin: 0 auto;
}

.results__loadErrorMsg {
    padding: 100px 0px;
}

.results__reloadBtn {
    display: block;
    margin: 0 auto;
}

.results__playlistContainer {

    float: left;

    width: 30%;
    min-height: 90vh;
    padding: 20px;

    background: #f9f6d6;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
    widows: 80%;
    border-radius: 5px;
    @include respond-to(medium) {
       width: 90%;
       margin: 0 auto;
        height: 80vh;
        float: none;
    }
    @include respond-to(small) {
       width: 98%;
    }
}

.results__playlistContainer h3 {
    @include respond-to(medium) {
       transform: translateY(80%);
    }
}

.results__generateNewPlaylistBtn {
    @include respond-to(medium) {
       display: block;
       margin: 0 auto;
    }
}

.results__mapContainer {

    float: right;

    width: calc(70% - 10px);
    min-height: 90vh;
    padding: 20px;

    background: #f9f6d6;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
    border-radius: 5px;
    @include respond-to(medium) {
       width: 90%;
       height: 85vh;
       margin: 0 auto;
       margin-top: 10px;
       float: none;
    }
    @include respond-to(small) {
       width: 98%;
    }
}

.results__mapContainer button {
    float: right;
}

.music__textButtonFloatContainer button {
    @include respond-to(medium) {
       transform: translateY(calc(50% - 15px));
    }
     @include respond-to(medium) {
        margin-bottom: 10px;
    }
}

.results__playlist iframe {
    width: 100%;
    height: 380px;
    margin: 10px auto;
    border: 2px solid $darkBrandColor;
}

.results__map {
    width: 100%;
    height: 380px;

    margin: 10px auto;
    border: 2px solid $darkBrandColor;
}

.results__mapPopupTitle {
    font-weight: 700;
    font-size: 2rem;
}

.music__textButtonFloatContainer h3{
    @include respond-to(medium) {
        float: left;
    }
     @include respond-to(small) {
        float: left;
    }
}

.music__textButtonFloatContainer button{
    @include respond-to(medium) {
        float: right;
    }
}
