$htmlFontSize: 10px;
$wrapperMaxWidth: 1200px;

$mainHeadingFontSize: 7rem;
$subHeadingFontSize: 3rem;
$subSubHeadingFontSize: 2rem;
$paragraphFontSize: 1.5rem;

$darkBrandColor: #1f6d69;
$medBrandColor: #d39f30;
$lightBrandColor: #f8f3b2;

$headingFontFamily: Georgia, serif;
$paragraphFontFamily: 'Lato', sans-serif;

